<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>VueJS Course</title>
    <link href="main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="app">
    <ul>
        <li :class="bird" :key="bird" v-for="(bird, index) in birds">
            {{index}} -> {{ bird }}
        </li>
    </ul>
    <hr/>
    <ul>
        <li :class="person" v-for="(person) in people">
            <div v-for="(value, key, index) in person">
                {{index}} -> {{ key }}: {{ value }}
            </div>
        </li>
    </ul>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>
</body>

</html>
